@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
@import url(http://fonts.googleapis.com/css?family=Lato:100); 
html {
    height: 100%;
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
    background: #000;
    margin: 0;
    background-image: url(../src/commons-watermark.svg);
    background-size: 448px 429px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
 
a {
    color: rgb(164, 196, 233);
    text-decoration: none;
    font-weight: 700;
}
 
a#filename {
    text-transform: capitalize;
    font-family: 'Lato', serif;
    font-weight: 100;
    font-size: 2em;
}
 
a:hover {
    color: rgb(255, 255, 255);
}

span#rights {
    font-size: 0.7em;
}
 
#rights {
    font-family: 'Lato', serif;
    text-align: right;
}
#credits-container {
    padding: 1.2em;
    position: fixed;
    bottom: 0%;
    text-align: left;
    /*background-color: rgba(52, 73, 94, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.5);*/
}

#credits {
    text-transform: uppercase;
    padding: .5em;
    font-size: 1.1em;
    color: rgba(248, 240, 233, 0.7);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1px;
    /*width: 200px;*/
    /*text-shadow: -2px -2px 2px rgba(0,0,0,0.05), 2px 2px 2px rgba(0,0,0,0.05), 0 0 10px #000;*/
}

#credits:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
